body {
}

#trDivCarro {
    min-height:550%;
}


td, th {
    padding: 10px;
    text-align: center;
}

.totalPago {
    background-color: antiquewhite;
    color: black;
    border: 1px solid gray;
    position: absolute;
    width: 93%;
    bottom: 10px;
    box-shadow: 0px 0px 5px #888888;
    padding-left: 8px;
    padding-top: 5px;
}

.buscador{
    margin-bottom:10px;
}

.slimScrollDiv .items {
    width: auto !important;
}

.btn-name {
    width: 180px;
    height: 110px;
    line-height: 16px;
    white-space: pre-wrap;
    margin: 8px;
    border-color: lightgray;
    background: #f4f4f4;
    color: black;
    box-shadow: 0px 0px 5px #888888;
}

.interlineado {
    border: 0;
}

.pos{
    margin:8px;
}

.productos {
    vertical-align: top;
    text-align:center;
    padding:8px;
}

.carroProductos {
    vertical-align: top;
    background: #f5f5f5;
    padding:15px;
}


th{
    text-align: center;
    width:15%;
}

.success {
    background: #dff0d8;
}

.bi {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

table {
    display: flex;
    flex-flow: column;
    width: 100%;
}


tbody {
    overflow-y: auto;
    overflow-x: hidden;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

#popup {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.content-popup {
    margin: 0px auto;
    margin-top: 120px;
    position: relative;
    padding: 10px;
    width: 500px;
    min-height: 250px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px #666666;
}

    .content-popup h2 {
        color: #48484B;
        border-bottom: 1px solid #48484B;
        margin-top: 0;
        padding-bottom: 4px;
    }

.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.close {
    position: absolute;
    right: 15px;
}